.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(
    auto-fill,
    50% [col-star] 35% [col-middle] 15% [col-end]
  );
  margin-top: 20px;
}

.imgcontainer {
  text-align: center;
}
.imgcontainer img {
  width: 80%;
}

.infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.infocontainer h2 {
  font-size: 2.8em;
  text-transform: capitalize;
}
.infocontainer p {
  font-size: 1.6em;
}

.infocontainer span {
  font-size: 20px;
  font-weight: bold;
}
.btnscontainer {
  margin: auto;
}
.btn_add {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  color: #70241c;
  border-radius: 4px;
  font-weight: 700;
  padding: 5px;
  gap: 8px;
}
.btn_add p {
  margin: 0;
  padding: 0;
}
